venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

config.py

/*/access_token.txt
/*/refresh_token.txt
/*/google_api.txt

*/*/access_token.txt
*/*/refresh_token.txt
*/*/google_api.txt

*access_token.txt
*refresh_token.txt
*google_api.txt

*.json

*.db